.header-color {
  background: #FD9393;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FD9393, #FD9393);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FD9393, #FD9393); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.landing-grid {
  background:#FD9393;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: fixed;
}

.avatar-img {
  height: 250px;
  padding-top: 5em;
}

.banner-text {
  font-family: 'Itim', cursive;
  position: absolute;
  left: 0;
  width: 100%;
  margin: auto;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color:white;
  font-family: 'Itim', cursive;

}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
  width: 600px;
  margin: auto; 
}

.social-links {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
  padding-top: 30px;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

.projects-grid {
  display: flex;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 60px;
  padding-bottom: 30px;
}

.projects-grid a {
  color: black;
  text-decoration: none;
}

.projects-grid2 {
  display: flex;
  padding-left: 400px;
  padding-right: 400px;
  padding-top: 60px;
  padding-bottom: 30px;
}

.projects-grid2 a {
  color: black;
  text-decoration: none;
}

.contact-body {
  margin: auto;
  padding-top: 2em;
  text-align: center;
  justify-content: center;
  padding-top: 150px;
}

.contact-body h1 {
  font-family: 'Itim', cursive;
  font-size: 30px;
}

.contact-body i {
  font-size: 6em;
  color: #FD9393;
  padding-bottom: 30px;
  padding-right: 20px;
}

.art-grid {
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 60px;
  padding-bottom: 30px;
}

.art-img {
  height: 700px;
}

.resume {
  margin: auto;
  width: 800px;
}
